.wr-chat-participants {
    height: 100%;
    background-color: #fff;
    flex: 1;
}

.wr-chat-participants-list {
    height: calc(100% - (var( --chat-header-height) * 2));
    overflow-y: auto;
}

.wr-chat-participant {
    padding: var(--base-pm) calc(var(--base-pm) * 2);
    width: 100%;
    display: inline-flex;

    transition: background-color .2s ease-in-out;
}

.wr-chat-participant-picture {
    width: 44px;
    height: 44px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

.wr-chat-participant-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wr-chat-self-participant,
.wr-chat-participant:hover {
    background-color: #dcf8c6;
}
