.wr-chat-messages {
    width: 100%;
    background-image: url(../assets/bg.png);
    background-repeat: repeat;
    flex: 4;

    .wr-chat-header {
        border-left: 1px solid rgba(0,0,0,0.08);
    }
}

.wr-chat-messages-list {
    overflow-y: auto;
    width: 100%;
    padding: $base-pm 0;
    max-height: calc(100% - #{$chat-header-height});
}

.wr-chat-message {
    padding-left: 9%;
    padding-right: 9%;
    width: 100%;
}

.wr-chat-bubble {
    background-color: #fff;
    color: #262626;
    padding: $base-pm / 1.5 $base-pm;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(0, 0, 0, 0.13);
    margin-bottom: 2px;
    max-width: 75%;
    font-size: .96em;
    line-height: 20px;
    word-wrap: break-word;
    position: relative;

    &.last-by-user {
        margin-bottom: 12px;
    }
}

.wr-chat-message-text {
    white-space: pre-wrap;
    cursor: text;

    &::after {
        content: ' \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
        display: inline;
    }
}



.wr-chat-message-datetime {
    position: absolute;
    display: inline-block;
    right: 8px;
    bottom: 2px;
    font-size: .78em;
    color: rgba(0, 0, 0, .45);
    font-weight: 400;
}

.wr-chat-message-author {
    font-size: .85em;
    font-weight: 500;
}

.wr-chat-sys-message {
    margin: 0 auto;
    background-color: #e0f1fa;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(0, 0, 0, 0.13);
    padding: $base-pm / 2 $base-pm;
    margin: $base-pm auto;
    font-size: .9em;
}

.wr-chat-self {
    justify-content: flex-end;
    
    .wr-chat-bubble {
        background-color: #dcf8c6;
    }
}

