.wr-chat-messages {
    width: 100%;
    background-image: none;
    flex: initial;
}

.wr-chat-messages-list {
    overflow-y: auto;
    width: 100%;
    padding: var(--base-pm) 0;
    max-height: none;
}

.wr-chat-message {
    padding-left: 9%;
    padding-right: 9%;
    width: 100%;
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
}

.wr-chat-bubble {
    border: 1px solid rgba(0,0,0, .1);
}
