.wr-chat-participants {
    height: 100%;
    background-color: #fff;
    flex: 1;
    transition: transform .4s var(--easeOutExpo);
}

.wr-chat-participants-list {
    height: calc(100% - (var( --chat-header-height) * 2));
    overflow-y: auto;
}

.wr-chat-participant {
    padding: var(--base-pm) calc(var(--base-pm) * 2);
    width: 100%;
    display: inline-flex;

    transition: background-color .2s var(--easeOutExpo);
}

.wr-chat-participant-picture {
    width: 44px;
    height: 44px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

.wr-chat-participant-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wr-chat-self-participant,
.wr-chat-participant:hover {
    background-color: #dcf8c6;
}

.wr-chat-drawer-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0);
    transition: background-color .3s;

    &.active {
        background-color: rgba(0,0,0, .4);
        pointer-events: initial;
    }
}

.wr-participats-sidebar-open,
.wr-participats-sidebar-close {
    display: none;
}
