#main-wrapper, #app-root {
    width: 100%;
    height: 100%;
}

#main-wrapper::after {
    position: fixed;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 130px;
    content: '';
    top: 0;
    left: 0;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.08);
}
