.wr-chat-view {
    width: 100%;
    height: 100%;
}

.wr-chat-participants {
    height: 100%;
    background-color: #fff;
    flex: 1;
}

.wr-chat-participants-list {
    height: calc(100% - var( --chat-header-height));
    overflow-y: auto;
}

.wr-chat-participant {
    padding: 0 calc(var(--base-pm) * 2);
    margin:  var(--base-pm) 0;
    width: 100%;
    display: inline-flex;
}

.wr-chat-participant-picture {
    width: 44px;
    height: 44px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

.wr-chat-participant-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wr-chat-messages {
    width: 100%;
    background-image: url(./media/bg.png);
    background-repeat: repeat;
    flex: 4;

    .wr-chat-header {
        border-left: 1px solid rgba(0,0,0,0.08);
    }
}

.wr-chat-messages-list {
    overflow-y: auto;
    width: 100%;
    padding: var(--base-pm) 0;
    height: calc(100% - var(--chat-header-height));
}

.wr-chat-message {
    padding-left: 9%;
    padding-right: 9%;
    width: 100%;
}

.wr-chat-bubble {
    background-color: #fff;
    color: #262626;
    padding: calc(var(--base-pm) / 1.5) var(--base-pm);
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
    margin-bottom: 2px;
    max-width: 75%;
    font-size: .96em;
    line-height: 20px;
    word-wrap: break-word;

    &.lastByUser {
        margin-bottom: 12px;
    }
}

.wr-chat-message-text {
    cursor: text;
    white-space: pre-wrap;

}

.wr-chat-message-author {
    font-size: .85em;
    font-weight: 500;
}

.wr-chat-sys-message {
    margin: 0 auto;
    background-color: #e0f1fa;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
    padding: calc(var(--base-pm) / 2) var(--base-pm);
    margin: var(--base-pm) auto;
    font-size: .9em;
}

.wr-chat-header {
    background-color: #eee;
    height: var( --chat-header-height);
    padding: 0 var(--base-pm);
    border-bottom: 1px solid rgba(0,0,0, .1);
    text-transform: uppercase;
    font-weight: 400;
}
