// This file is a mess
input[type="file"], input[type="radio"] {
    display: none;
}

.button {
    display: inline-flex;
    padding: var(--base-pm) calc(var(--base-pm) * 2);
    color: #fff;
    border-radius: calc(var(--base-pm) / 3);
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;
    margin: var(--base-pm);
    transition: box-shadow .3s var(--easeOutExpo), background-color .3s var(--easeOutExpo);

    &:hover {
        box-shadow: 0 1px 1px 0 rgba(0, 0 ,0 , .06), 0 2px 5px 0 rgba(0, 0, 0, .1);
    }

    &:disabled{
        pointer-events: none;
    }
}

.upload-file-wrapper {
    padding: var(--base-pm);
    flex: 2;
    font-weight: 300;
}

.upload-file-label {
    font-size: .9em;
}

.upload-file-label {
    @extend .button;
    color: #08c65b;
    background-color: transparent;
    text-decoration: none;
}

.upload-file-button {
    @extend .button;
    -webkit-appearance: none;
    border: 0;
    background-color: #08c65b;
    flex: 1;
    &:hover {
        background-color: #0cb757;
    }
}

/* 
* Date interval picker
*/
.date-interval-picker {
    padding: calc(var(--base-pm) * 4) var(--base-pm);
}

// Module input class
.cov-datepicker {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: var(--base-pm) calc(var(--base-pm) * 2);
    cursor: pointer;
}

.date-interval-picker-c {
    position: relative;
    margin-top: calc(var(--base-pm) * 2.5);
}

.date-interval-picker-label {
    position: absolute;
    top: -12px;
    font-size: .86em;
    left: 16px;
    color: var(--wbrand-colour-light);
}

.date-interval-picker-clear-button {
    color: #ef5350;

    svg {
        width: 18px;
        transition: color .2s ease-in-out;
    }

    &:hover {
        svg {
            color: #c62828;
        }
    }
}

.date-picker-inputs {
    label {
        color: #4b4b4b;
        border: 1px solid transparentize(#4b4b4b, .9);
        transition: color .2s ease-in-out, border-color .2s ease-in-out;

        &:hover {
            box-shadow: 0 1px 1px 0 rgba(0, 0 ,0 , .06), 0 1px 2px 0 rgba(0, 0, 0, .1);
            border: 1px solid var(--wbrand-colour-light);
        }
    }

    input[type="radio"]:checked + label {
        box-shadow: 0 1px 1px 0 rgba(0, 0 ,0 , .06), 0 1px 2px 0 rgba(0, 0, 0, .1);
        border: 1px solid var(--wbrand-colour-light);
    }
}
