{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/transform-react-jsx",
            {
                "pragma": "h"
            }
        ],
        [
            "@babel/transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true,
            }
        ]
    ]
}
