:local {
    .uploadForm {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .inputButton {
        background-color: #18bb8d;
        border-radius: 50px;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        padding: 16px 32px;
        line-height: calc(50px - 29px);
        height: 50px;
        cursor: pointer;

        span { font-size: 1.2em; }

        input { display: none; }        
    }
}
