:local {
    .wrapper { 
        margin-top: 32px;
        border-top: 1px solid rgba(0,0,0,.1);
        overflow: hidden;
    }

    .howtoTitle { margin: 38px 0; }

    .platformTab {
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: initial;
        }
        

        transition: opacity .3s ease-in-out;
    }

    .platformTabWrapper {
        transition: transform .3s ease-in-out;
    }

    .platformTabSelector {
        padding: 6px 24px;
        margin: 0 24px;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
            background-color: rgba(24, 185, 139, .1);
            color: var(--color-accent);
        }
        
        &.active {
            background-color: rgba(24, 185, 139, .2);
            color: var(--color-accent);
        }
    }
}
