:local {
    .wrapper { margin-top: 32px; }

    .howtoTitle { margin: 38px 0; }

    .chooserWrapper { margin: 32px 0; }

    .chooserTab {
        border-radius: 50px;
        background-color: #f2f2f2;
        padding: 4px 28px;

        &:not(:last-child) { margin-right: 16px; }

        &:not(.active) { cursor: pointer; }

        &.active {
            background-color: var(--color-accent);
            color: var(--color-primary);
        }
    }

    .instrucctionList {
        counter-reset: dashedGreenNumbers;

        li { margin-bottom: 2.5rem; }
    }

    .instructionText {
        margin-bottom: 0;

        &:before {
            color: var(--color-accent);
            content: counter(dashedGreenNumbers)' - ';
            counter-increment: dashedGreenNumbers;
            min-width: 24px;
        }
    }

    .inlineImgInstruction {
        display: flex;
        align-items: center;

        img { margin: 0 4px; }
    }

    .imgInstruction {
        img {
            margin-left: 24px;
            margin-top: 8px;
        }
    }
}
