:local {
    .platformTabWrapper {
        transition: transform .3s ease-in-out;
    }

    .platformTab {
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: initial;
        }
        

        transition: opacity .3s ease-in-out;
    }
}
