:local {
    .messageContainer {
        display: inline-block;
        background-color: var(--color-tertiary);
        color: var(--color-bg);
        padding: 10px 12px;
        border-radius: 12px;
        position: relative;

        &::before {
            @media print { content: none; }

            content: '';
            background-image: url(../../../../../assets/img/bubble-indicator.svg);
            width: 30px;
            height: 40px;
            background-repeat: no-repeat;
            position: absolute;
            left: -15px;
            bottom: -20px;
        }

        &[data-active="true"] {
            &::before {
                background-image: url(../../../../../assets/img/active-bubble-indicator.svg);
                left: initial;
                right: -13px;
                bottom: -24px;
            }

            background-color: var(--color-accent);
            color: var(--color-primary);
            margin-right: 8px;
        }

        @media screen and (max-width: 640px) {
            &::before { display: none; }
        }
    }

    .messageWrapper {
        margin-bottom: var(--message-separation);
        max-width: 80%;
        justify-content: flex-start;
    
        @media (max-width: 600px) {
            max-width: 90%;
        }

        &[data-active="true"] { flex-direction: row-reverse; }
    }

    .sameAuthorMessageContainer {
        margin-bottom: var(--continued-message-separation);
        margin-left: 62px;

        &[data-active="true"] { margin-left: 0; }

        .messageContainer::before { content: none; }

        @media screen and (max-width: 640px) { 
            margin-left: 0;
        }
    }
}
