:global {
    #mount-point {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .app-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;       
    }
}
