@media (max-width: 1400px) {
    .wr-body {
        max-height: 100%;
    }
}

@media (max-width: 950px) {
    .wr-chat-participants {
        position: absolute;
        transform: translateX(-100%);
        z-index: 400;
        pointer-events: none;
        max-width: 330px;

        &.active {
            transform: translateX(0);
            pointer-events: initial;
        }
    }

    .chat-info {
        text-align: center;
        font-size: .9em;
    }

    .wr-participants-sidebar-open > svg {
        pointer-events: initial;
        cursor: pointer;
    }

    .wr-chat-bubble {
        font-size: .9em;
    }

    .info-section,
    .upload-file-wrapper {
        height: auto;
    }

    .upload-file-wrapper {
        flex: initial;
    }
}

@media (max-width: 765px) {
    .date-interval-picker-r {
        flex-direction: column;
    }

    .date-interval-picker-c {
        margin-top: calc(var(--base-pm) * 4);
    }
}

@media (max-width: 675px) {
    .wr-body {
        height: auto;
        overflow-y: auto;
        display: initial;
    }

    .info-section-more-items-buttons {
        flex-direction: column;
    }

    .info-section-hero-items {
        flex-direction: column;
    }

}

@media (max-height: 740px) {
    .wr-body {
        height: auto;
        overflow-y: auto;
        display: initial;
    }

    .info-section-more-items-buttons {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }
}
