:global {
    :root {
        --base-pm: 8px;
        --base-br: 4px;

     
    
        --scrollbar-thumb-bg-colour: rgba(0, 0, 0, 0.2);
        --scrollbar-track-bg-colour: rgba(255, 255, 255, 0.08);
    }
}
