:global {
    :root {
        --base-pm: 8px;
        --base-br: 4px;

        --message-separation: 12px;
        --continued-message-separation: 4px;
        --header-height: 80px;
    
        --cscrollbar-thumb-bg-colour: hsla(0, 0%, 0%, 0.2);
        --cscrollbar-track-bg-colour: hsla(0, 0%, 100%, 0.08);
        --cscrollbar-width: 6px;
        --cscrollbar-height: 6px;

        --radius: 0.25em;

        --transition-bounce: cubic-bezier(.25,1.43,.35,1.69);

        --home-gradient: linear-gradient(-30deg, #00A38C, #2AD983);
        --home-light-circle-color: rgba(147,255,205,.1);

        --color-primary: hsl(0, 0%, 100%);
        --color-accent: hsl(163, 77%, 41%);
        --color-secondary: hsl(0, 0%, 49%);
        --color-tertiary: hsl(0, 0%, 95%);
        --color-quaternary: hsl(0, 0%, 75%);
        --black: hsl(240, 7%, 12%);
        --color-bg: hsl(0, 0%, 20%);
    }
}
