$header-height: 174px;
$logo-width: 250px;

:local {
    .header {
        position: fixed;
        height: $header-height;
        width: 100%;
    }

    .headerLogo {
        height: auto;
        width: $logo-width;
    }
}
