:global {
    #mount-point {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .app-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        &::after {
            background-color: #009688;
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 127px;
            content: '';
            top: 0;
        }
       
    }
}
