:global {
    :root {
        --base-pm: 8px;
        --base-br: 4px;

        --wbrand-colour: #009688;
        --wbrand-colour-light: #09d261;
        --wbrand-colour-default: #4b4b4b;
        --wbrand-bg-colour: #dfdfdf;
        --wbrand-bg-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
    
        --scrollbar-thumb-bg-colour: rgba(0, 0, 0, 0.2);
        --scrollbar-track-bg-colour: rgba(255, 255, 255, 0.08);
    }
}
