:local {
    .infoContainer {
        flex: 1;
        padding-bottom: 12px;
    }

    .iconWrapper {
        margin-right: 42px;
        display: inline-flex;
        align-items: center;
        border-radius: 100%;
        background-color: var(--color-accent);
        padding: 12px;
    }

    .icon {
        display: inline-flex;
        align-items: center;
    }

    .title {
        display: inline-flex;
        align-items: center;
        margin: 0;
        font-weight: 500;
        font-size: 1.1em;
    }

    .subtitle {
        font-size: .9em;
        color: var(--color-secondary);
        margin: 0;
    }
}
