:local {
    .time {
        font-size: .8em;
        color: var(--color-quaternary);
        display: flex;
        align-items: flex-end;
        margin-left: 12px;
        margin-bottom: -4px;
    }
}
