:local {
    .message {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: .85em;
    }

    .messageContainer {
        display: inline-block;
        background-color: var(--color-tertiary);
        color: var(--color-bg);
        padding: 10px 12px;
        border-radius: 12px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../../../../assets/img/bubble-indicator.svg);
            width: 30px;
            height: 40px;
            background-repeat: no-repeat;
            position: absolute;
            left: -15px;
            bottom: -20px;
        }

        @media screen and (max-width: 640px) {
            &::before { display: none; }
        }
    }

    .messagePlaceholder {
        display: inline-block;
        background-color: var(--color-tertiary);
        color: var(--color-bg);
        padding: 10px 12px;
        border-radius: 12px;
        position: relative;
        font-size: .9em;
    }

    .time {
        font-size: .8em;
        color: var(--color-quaternary);
        display: flex;
        align-items: flex-end;
        margin-left: 12px;
        margin-bottom: -4px;
    }
    
    .messageWrapper {
        margin-bottom: var(--message-separation);
        max-width: 80%;
        justify-content: flex-start;
    
        @media (max-width: 600px) {
            max-width: 90%;
        }
    }
    
    .authorPicture  {
        padding: 16px;
        width: 46px;
        height: 46px;
        margin-right: 16px;
        border-radius: 100%;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        min-width: 46px;

        @media screen and (max-width: 640px) { display: none; }
    }

    .authorName {
        font-weight: 500;
        font-size: .9em;
    }

    .sameAuthorMessageContainer {
        margin-bottom: var(--continued-message-separation);
        margin-left: 62px;

        @media screen and (max-width: 640px) { margin-left: 0; }

        .messageContainer::before { content: none; }
    }
}
