:local {
    .headerInfoWrapper { width: 100%; }

    .infoContainer {
        flex: 1;
        margin: 0 8px;

        @media screen and (max-width: 640px) { padding-bottom: 8px; }
    }

    .iconWrapper {
        margin-right: 42px;
        display: inline-flex;
        align-items: center;
        border-radius: 100%;
        background-color: var(--color-accent);
        padding: 12px;
    }

    .icon {
        display: inline-flex;
        align-items: center;
    }

    .title {
        display: inline-flex;
        align-items: center;
        margin: 0;
        font-weight: 500;
        font-size: 1em;
    }

    .subtitle {
        font-size: .8em;
        color: var(--color-secondary);
        margin: 0;
    }

    .infoDetailsWrapper { line-height: 16px; }
}
