:local {
    $home-world-bg-image: url(../../assets/img/world-white.svg);
    $content-top-spacing: 216px;

    :root {
        --home-gradient: linear-gradient(-30deg, #00A38C, #2AD983);
        --home-light-circle-color: rgba(147,255,205,.1);
    }  

    .backgroundContainer {
        background-image: var(--home-gradient);
        background-size: 200%;
        min-height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -4;

        &::before {
            content: "";
            border-radius: 100% 100% 0 0;
            background-color: var(--home-light-circle-color);
            width: 200%;
            min-height: 820px;
            position: absolute;
            margin-left: auto;
            left: 50%;
            transform: translate(-50%,-50%);
            top: 450px;
            pointer-events: none;
        }

        &::after {
            content: "";
            background-image: $home-world-bg-image;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            top: 40px;
            pointer-events: none;
        }
    }

    .wrapper {
        position: relative;
        min-height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;       
    }

    .content {
        padding: 8px 18px;
        position: relative;
        margin-top: $content-top-spacing;
        background-color: var(--color-primary);
        width: 100%;

        &::after {
            content: "";
            border-radius: 100% 100% 0 0;
            background-color: var(--color-primary);
            width: 120%;
            min-height: $content-top-spacing;
            position: absolute;
            margin-left: auto;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            top: 40px;
            pointer-events: none;
            z-index: -1;
        }
    }

    .introDescription { 
        font-size: 1.1em;
        line-height: 1.5;
     }
   
    .guideLink {
        margin-top: 8px;
        font-size: .9em;        
    }    
}
